* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: lightblue;
    padding: 15px; 0;
}

/*LAYOUT CLASSES*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col-20 {
    width: 20%;
    background-color: orange;
    border: 1px solid black;
}

.col-60 {
    width: 60%;
    background-color: orange;
    border: 1px solid black;
}

.col-100 {
    width: 100%;
    border: 1px solid black;
    background-color: rgb(255, 0, 191);
    height: 300px;
}

/* UTILITY CLASSES */

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.py-10 {
    padding: 10px 0;
}

/*SPECIFIC STYLING AND CLASSES */

ul.text-center {
    list-style-type: none;
    
}

ul.text-center li {
    display: inline-block;
}

.bg-darkblue {
    background-color: darkblue;
    padding: 20px; 0;
}